includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - config

    # Rule level (0-9)
    level: max

    reportUnmatchedIgnoredErrors: true
